<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Cabina.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Cabina.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>	
    </configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
    <applicationSettings>
        <Cabina.Properties.Settings>
            <setting name="Empresa" serializeAs="String">
                <value>SAE</value>
            </setting>
            <setting name="Cabina_AdministracionWS_Service" serializeAs="String">
                <value>http://localhost/SysKel/Service.asmx</value>
            </setting>
        </Cabina.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Cabina.Properties.Settings>
            <setting name="Local_Service" serializeAs="String">
                <value>http://localhost/SysKel/Service.asmx</value>
            </setting>
            <setting name="Bariloche" serializeAs="String">
                <value>http://192.168.5.101/syskel/service.asmx</value>
            </setting>
            <setting name="SAE_Jujuy" serializeAs="String">
                <value>http://10.10.10.2/syskel/service.asmx</value>
            </setting>
        </Cabina.Properties.Settings>
    </userSettings>
</configuration>
