<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dirección.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dirección.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
    <applicationSettings>
        <Dirección.Properties.Settings>
            <setting name="Empresa" serializeAs="String">
                <value>AYMED</value>
            </setting>
            <setting name="Dirección_WS_Service" serializeAs="String">
                <value>http://localhost/SysKel/Service.asmx</value>
            </setting>
        </Dirección.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Dirección.Properties.Settings>
            <setting name="Local_Service" serializeAs="String">
                <value>http://localhost/SysKel/Service.asmx</value>
            </setting>
            <setting name="Aymed_Service" serializeAs="String">
                <value>http://aym01.aymed.local/syskel/service.asmx</value>
            </setting>
        </Dirección.Properties.Settings>
    </userSettings>
</configuration>
