USE [Datos]
GO
/****** Object:  Table [dbo].[EmpresasSueldoBcoMacro]    Script Date: 11/15/2014 18:42:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmpresasSueldoBcoMacro](
	[Nombre] [char](30) NULL,
	[idEmpresasSueldoBcoMacro] [int] NOT NULL,
 CONSTRAINT [PK_emp_sueldo] PRIMARY KEY CLUSTERED 
(
	[idEmpresasSueldoBcoMacro] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[EmpresasSueldoBcoMacro] ([Nombre], [idEmpresasSueldoBcoMacro]) VALUES (N'(no Definido)                 ', 0)
INSERT [dbo].[EmpresasSueldoBcoMacro] ([Nombre], [idEmpresasSueldoBcoMacro]) VALUES (N'Desconocida 316               ', 316)
INSERT [dbo].[EmpresasSueldoBcoMacro] ([Nombre], [idEmpresasSueldoBcoMacro]) VALUES (N'Administracion Central Planta ', 10527)
GO
print 'Processed 100 total records'
