  UPDATE    dbo.PorcentajeIVA
  SET       Porcentaje = 0
  WHERE     CodigoAFIP = 3
  
  UPDATE    dbo.PorcentajeIVA
  SET       Porcentaje = 10.5
  WHERE     CodigoAFIP = 4
  
  UPDATE    dbo.PorcentajeIVA
  SET       Porcentaje = 21
  WHERE     CodigoAFIP = 5
  
  UPDATE    dbo.PorcentajeIVA
  SET       Porcentaje = 27
  WHERE     CodigoAFIP = 6
  
  UPDATE    dbo.PorcentajeIVA
  SET       Porcentaje = 5
  WHERE     CodigoAFIP = 8
  
  UPDATE    dbo.PorcentajeIVA
  SET       Porcentaje = 2.5
  WHERE     CodigoAFIP = 9