/*
   lunes, 18 de marzo de 201310:25:59 p.m.
   User: 
   Server: NORBERTO
   Database: Datos
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.DetallesCompras.idDetallePago', N'Tmp_idDetalleCompra_1', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DetallesCompras.idPago', N'Tmp_idCompra_2', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DetallesCompras.Tmp_idDetalleCompra_1', N'idDetalleCompra', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.DetallesCompras.Tmp_idCompra_2', N'idCompra', 'COLUMN' 
GO
ALTER TABLE dbo.DetallesCompras SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.DetallesCompras', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.DetallesCompras', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.DetallesCompras', 'Object', 'CONTROL') as Contr_Per 