/*
   domingo, 26 de agosto de 201205:00:29 p.m.
   User: 
   Server: (local)
   Database: Datos
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Feriados
	(
	idFeriado int NOT NULL IDENTITY (1, 1),
	Fecha date NOT NULL,
	Observaciones varchar(200) NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Feriados ADD CONSTRAINT
	PK_Feriados PRIMARY KEY CLUSTERED 
	(
	idFeriado
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.Feriados SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.Feriados', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Feriados', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Feriados', 'Object', 'CONTROL') as Contr_Per 