UPDATE  [Datos].[dbo].[CategoriasIVA]
SET     NdeC = 12
WHERE   Factura = 7
UPDATE  [Datos].[dbo].[CategoriasIVA]
SET     NdeC = 13
WHERE   Factura = 8
UPDATE  [Datos].[dbo].[CategoriasIVA]
SET     NdeD = 14
WHERE   Factura = 7
UPDATE  [Datos].[dbo].[CategoriasIVA]
SET     NdeD = 15
WHERE   Factura = 8