/*
   viernes, 21 de octubre de 201602:32:02 p.m.
   User: 
   Server: (local)
   Database: Datos
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.IVACompras
	(
	idIVACompras int NOT NULL IDENTITY (1, 1),
	idCompra int NULL,
	idPorcentajeIVA int NULL,
	ImporteNeto money NULL,
	ImporteIVA money NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.IVACompras ADD CONSTRAINT
	PK_IVACompras PRIMARY KEY CLUSTERED 
	(
	idIVACompras
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.IVACompras SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.IVACompras', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.IVACompras', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.IVACompras', 'Object', 'CONTROL') as Contr_Per 